/******************************************************************************************************************************************************
******************************************************************************************************************************************************

bitcoin.com paper wallet style sheet

******************************************************************************************************************************************************
******************************************************************************************************************************************************/

body {
	font-family: 'Gilroy', sans-serif;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x:hidden;
	 width: 100%;
}

.container {
	width: 90%;
	max-width: 1200px;
}

h1 {
	font-family: 'Gilroy', sans-serif;
	font-size: 65px;
	font-weight: 700;
	color: #fff;
	margin: 0;
}

h2 {
	font-family: 'Gilroy', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #444;
	margin: 0;
	margin-bottom: 28px;
}

/* Remove previous design h2 underlines
h2:after {
    content:' ';
    display:block;
    border:2px solid #0fcb97;
    color: #0fcb97;
    width: 100px;
    margin-top: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
*/

h3 {
	font-family: 'Gilroy', sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #f5c610;
	margin: 0;
}

p {
	font-family: 'Gilroy', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #444;
	margin: 0;
	line-height: 1.7em;
}


.center-h1 {
	text-align: center;
	display: inline-block;
}
.center-h1:after {
	text-align: center;
	display:block;
	    margin-left: auto;
    margin-right: auto;
}

.center-div {
	width: 100%;
	text-align: center;
}

a, a:hover, a:visited {
  cursor: pointer;
  color: #f5c610;
}

.section-1 {
	background-color: #11144c;
	border-bottom-right-radius:10%;
	border-bottom-left-radius:10%;
	background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	background-attachment: fixed;
	background-position: center;
}
.section-5 {
	background-color: #11144c;
	border-top-right-radius:10%;
	border-top-left-radius:10%;
	background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	background-attachment: fixed;
	background-position: center;
}
.section-5 h1 {
	margin-bottom: 25px;
}


.section-1 h1 {
	margin-bottom: 25px;
}

.h3-line {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.btn-primary{
  font-family: 'Gilroy', sans-serif;
	font-weight: 700;
	color: #fff!important;
	text-shadow: none!important;
	-webkit-text-shadow: none!important;
	padding-left: 28px!important;
	padding-right: 28px!important;
	font-size: 18px;
	text-align: center;
	border-radius: 3px !important;
	background: #f5c610;
  transition: all 300ms ease-in-out 0s;
	height: 50px;
	min-width: 140px;
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
	border: none;
}

.btn-primary:hover {
  background: #caa20b;
}
.btn-primary:active {
  background:#caa20b;
}

.section-2 {
	padding: 50px 0 50px 0;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.paper-wallet-img {
	width: 100%;
}

svg.page-hero-shape {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin-top: 0px;
    top: 0;
}

.what-is-padding {
	padding-right: 60px;
}

.section-3 {
	padding: 50px 0 50px 0;
	background-color: #f4f1eff5;
}

.section-security {
	padding: 50px 0 50px 0;
	background-color: #11144c;;
	border-top: 15px solid #f5c610;
	border-bottom: 15px solid #f5c610;
	/*background-color: #2f2fa2;*/
}

.section-security h2, .section-security p  {
	color: #fff;
}

.security-img-ctn {
	text-align: center;
}

.security-img {
	height: 70px;
}

.security-tips {
	margin-top: 40px;
}

.security-recs {
	color: #f5c610;
	font-size: 18px;
	font-weight: 600;
	margin-left: 30px;
	display: inline-block;
}

.features {
	text-align: center;
	padding: 25px 25px 0px 25px;
}

.features-h1 {
	color: #444;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 12px;
}

.featured-img {
	height: 70px;
	margin-bottom: 20px;
}

.section-4 {
	padding: 50px 0 50px 0;

}

.steps {
	display: inline-block;
	width: 40px;
	font-size: 40px;
	padding: 0;
	vertical-align: middle;
	border-right: 1px solid #f5c610;
	color: #444;
	margin-top: 15px;
}

.steps-p {
	display: inline-block;
	width: 89%;
	padding: 0;
	vertical-align: middle;
	padding-left: 20px;
	margin-top: 15px;
}

.why-image-div {
	text-align: center;
	margin-bottom: 20px;
}

.why-image {
	width: 120px;
}

.panel a {
	text-decoration: none;
}

.panel {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}

.panel-default>.panel-heading {
	background-color: #fff;
}

.panel-title {
	font-size: 16px;
	font-weight: 600;
}

.panel-body {
	padding-bottom: 0;
	font-size: 16px;
}

body #universal-footer {
	margin-top: 0 !important;
}

.featured-section {
	padding: 50px 0 50px 0;
    display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #0fcb97;
	background:url(

data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAN0lEQVQYV2O8OJXjv6YKLwMucP3OZwbGXztF/4MY2BTCxMGKQKagK0TmwxUhK0TXgKIIm4kgMQAvbiWPqdTsyAAAAABJRU5ErkJggg==
    ) repeat;
}

.featured-section h4 {
	background-color: #f80824;
	font-family: 'Gilroy', sans-serif;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	margin: 0;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 100px;
	position: absolute;
	top: -30px;
	letter-spacing: 1px;
	left: -10px;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(68,68,68,0.54);
	-moz-box-shadow: 1px 1px 1px 0px rgba(68,68,68,0.54);
	box-shadow: 1px 1px 1px 0px rgba(68,68,68,0.54);
}


.featured-section h5 {
	font-family: 'Gilroy', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #444;
	margin: 0;
	margin-bottom: 20px;
	display: inline-block;
}

.featured-section p {
	margin-bottom: 35px;
	font-weight: 600;
}

.featured-section a {
	background-color: #444 !important;
	margin-right: 20px;
}

.featured-section a:hover {
	background-color: #000!important;
	transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

#paperwalletrulesTitle {
	font-size: 20px;
	margin: 0 !important;
}

#paperwalletrules {
	margin-top: 60px;
}

.rules-link {
	font-size: 14px;
	color: #444;
	background: none;
	border: none;
}
/***********************************************************************************   START MEDIA    **************************************************************************************/



@media (max-width: 992px) {
	.what-is-padding {
	padding-right: 0px;
	margin-bottom: 30px;
}

.security-img-ctn {
	display: none;
}

}

@media (max-width: 768px) {
   h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 16px;
	}

	.steps {
	margin-top: 30px;
	width: 30px;
	font-size: 30px;

}

.steps-p {
	margin-top: 30px;
}

#why-trust, #how-to {
	margin-top: 50px;
}

.featured-section a {
	margin-right: 0px;
	margin-bottom: 20px;
	width: 100%;
}

.section-1-mbl {
	height: 80vh;
}

.section-1-mbl .btn {
	width: 100%;
}

.security-recs {
	margin-left: 0px;
	margin-top: 30px;
}

}
